@charset "utf-8";

body, #empty, #content, #top, #left, #right, #logo, #bg1, #bg2 {
	margin: 0px;
	padding: 0px;
}

* a {
	text-decoration: none;
}
body,#empty {
	background: #fff;
}

#content {
	width: 960px;
	float: left;
	background: url(../images/index_contentbg.png);
	background-repeat: repeat-y;
}

#top {
	height: 43px;
	background: url(../images/index_topbg.png);
	width: 960px;
}
#user {
	float: left;
	margin: 12px auto 12px 22px;
}

#nav {
	margin: 0px 22px 0px 0px;
	padding: 0px;
	float: right;
	line-height: 40px;
}
#nav li {
	list-style-type: none;
	float: left;
	font-family: "微软雅黑";
	text-align: center;
	width: 100px;
	height: 43px;
}
#nav li:hover {
	background: #a11;
	/*background: #622b03;*/
	color: #fff;
}
#nav a:link, #nav a:visited {
	color: #000;
}
#nav a:hover {
	color: #fff;
}

#left, #right {
	float: left;
}

/***********************************************************************/
#left {
	width: 363px;
}

#logo {
	background: url(../images/logobg.png);
	width: 363px;
	height: 141px;
}
#logo img {
	width: 80px;
	height: 80px;
	margin: 30px 0px 0px 10px;
}

#logo h1, #logo p {
	line-height: 24px;
	margin: 2px;
}
#logo h1 {
	border-bottom: 1px solid #0a0;
	font-size: 22px;
	color: #f97e07;
}

#logoimg {
	float: left;
}
#logoword {
	float: right;
	width: 250px;
	margin: 30px 8px 0px auto;
	/*background: #ad9;启用另外一个背景时开启*/
	height: 80px;
}

#col {
	background: url(../images/colbg.png);
	background-repeat: no-repeat;
	margin: 0px 0px 0px 10px;
	width: 312px;
}

#col li {
	margin: 0px 22px;
	padding: 0px;
	list-style-type: none;
}
#search * {
	margin: 12px auto 6px 14px;
}

/*左侧栏标题*/
.title {
	font-family: "微软雅黑";
	font-size: 16px;
	color: #6a3906;
	margin: 12px 0px 0px 12px;
}

/***************************************************************/
#right {
	width: 596px;
	background: url(../images/rtbg.png);
	background-repeat: no-repeat;
}

#public {
	margin: 6px auto 4px auto;
}

/*文章div*/
.article {
	margin: 0px;
	border-bottom: 1px dashed #aaa;
	padding: 2px 12px;
	/*background: #fff;*/
}
.article:hover {
	background: #ad9;
}
.abouta, .main {
	margin-top: -8px;
}
.article p {
	line-height: 22px;
}
h3 {
	/*border-bottom: 1px solid #622b03;*/
	line-height: 30px; 
}
/*关键词*/
.aboutb {
	width: 100%;
	margin: -8px 0px 0px 0px;
	padding: 0px;
	height: 30px;
}
.keyword, .mored {
	float: left;
	margin: 0px auto auto 2px;
}
.keyword {
	width: 80%;
	white-space: nowrap;
}
.keyword a {
	border: 1px dashed #f97e07;
}
.mored {
	width: 80px;
}
/*文章简介更多详情*/
.more {
	margin-left: 12px;
}
.more * {
	color: #f97e07;
	margin: 0px;
	padding: 0px;
}
/*第一个字*/
.fword {
	color: #000;
	float: left;
	width: 20px;
	font-size: 22px;
	font-family:'微软雅黑';
	line-height: 24px;
	margin-right: 8px;
	margin-top: 4px;
}






#footer {
	float: left;
	width: 960px;
	height: 43px;
	background: url(../images/footerbg.png);
	text-align: center;
	margin: 0px;
	padding: 0px;
}
#footer div {
	margin: 12px 0px 8px 0px;

}


#bg1 {
	background: url(../images/bg1.png);
	width: 10px;
	height: 552px;
	position: absolute;
	top: 184px;
	left: 0px;
}

#bg2 {
	background: url(../images/bg2.png);
	width: 41px;
	height: 552px;
	position: absolute;
	top: 184px;
	left: 322px;
}
#empty {
	width: 200px;
	height: 100%;
	float: left;
}